/* h2 {
  font-size: 1.5em;
}*/

/*#visao_cidade_ui_1-vb_valor_ind_atual .inner {
  font-size: 2em;
}

#visao_cidade_ui_1-vb_valor_ind_atual p {
  font-size: 0.6em;
  margin-left: 3%;
}
*/

/**********************************
  Geral
**********************************/

.tab-content hr {
  width: 80%;
  border-top: 2px solid rgba(0, 0, 0, .1);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.content-wrapper {
  background-color: white;
}

.navbar-light {
  background-color: white;
}

/**********************************
  Cores
**********************************/

:root {
  --azulODS6: #2aaee2;
}


/**********************************
  Value boxes
**********************************/

.inner {
  font-size: 1.1em;
}

.small-box p {
  font-size: 1.4em;
}

.small-box-footer {
  font-size: 0.8em;
}

/**********************************
  Footer
**********************************/

.main-footer a {
  color: #262829;
  font-size: 0.9em;
}

/**********************************
  valueDiv
**********************************/

.valeuDiv span {
  font-size: 20px;
}

.valueDiv .shiny-text-output {
  font-size: 40px;
  margin-left: 10px;
}

.valueDiv {
  margin-bottom: 20px;
}

.valueDiv hr {
  margin-top: 2px;
  margin-bottom: 5px;
}

.valueDiv i {
  font-size: 0.8em;
  margin-left: 5px;
}

/**********************************
  Seletor de município
**********************************/

.seletor-munip  label {
  margin-bottom: 0;
  display: block;
  text-align: center;
}

.seletor-munip select {
  background-color: transparent;
  border: 0;
  font-size: 3em;
  color: var(--azulODS6);
  text-align: center;
  padding: 10px 12px;
}

.seletor-munip .selectize-input {
  background-color: transparent;
  border: 0;
  font-size: 2.5em;
  color: var(--azulODS6);
  text-align: center;
  padding: 10px 12px;
}

.seletor-munip input {
  position: static !important;
}

.tag-turistico {
  padding: 5px;
  border-radius: 10px;
  width: 160px;
  display: block;
  margin: auto;
  text-align: center;
  background-color: orange;
}

.seletor-munip hr {
  width: 80%;
  border-top: 2px solid rgba(0,0,0,.1);
}

@media (max-width: 575px) {
  .seletor-munip .selectize-input {
    font-size: 1.5em;
  }
  
  .seletor-munip .item {
    height: 40px;
  }
  
  .tag-turistico {
    padding: 3px;
    border-radius: 10px;
    width: 120px;
    font-size: 0.8em;
  }
}

/**********************************
  Abastecimento
**********************************/

.munip-abast .card {
  background-color: var(--azulODS6);
}

.card-indicadores .nav-pills .nav-link.active {
  color: #fff;
  background-color: var(--azulODS6);
  border: 0;
  border-radius: 0;
  font-size: 2em;
  text-shadow: 1px 1px black;
}

.card-indicadores .card-default .nav-item:first-child .nav-link.active {
  border: 0;
}

.card-indicadores .nav-pills {
  background-color: var(--azulODS6);
}

.card-indicadores .nav-pills .nav-link {
  color: #fff;
}

.card-indicadores .nav-pills .nav-link:not(.active) {
  padding-top: 22px;
}

.card-indicadores .nav-pills .nav-link:not(.active):hover {
  text-decoration: underline;
  color: white;
}

.card-indicadores .card-header {
  border-bottom: 1px solid white;
}

.card-indicadores .p-2 {
  padding: 0 !important;
}

.munip-abast-ods6 {
  color: white;
}

.munip-abast-ods6 h4 {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
}

.munip-abast-ods6 .meta-origem {
  display: block;
  font-weight: bold;
}

.munip-abast-ods6 .meta-ind {
  border: 1px solid white;
  box-shadow: 0px 0px 4px 2px white;
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.munip-abast-ods6 .shiny-text-output {
  text-align: center;
  font-size: 3em;
}

.munip-abast-ods6 hr {
  width: 90%;
  border-top: 2px dashed white;
}

.munip-abast-ods6 .meta-ind-serie {
  margin-top: 30px;
}

.vb-clickable {
  cursor: pointer;
}

.munip-abast-outros-ind {
  padding-bottom: 30px;
}

.munip-abast-outros-ind h2 {
  text-align: center;
  margin-bottom: 30px;
}


.munip-abast-outros-ind .hc-outros-ind {
  margin-top: 20px;
}










