/* h2 {
  font-size: 1.5em;
}*/

/*#visao_cidade_ui_1-vb_valor_ind_atual .inner {
  font-size: 2em;
}

#visao_cidade_ui_1-vb_valor_ind_atual p {
  font-size: 0.6em;
  margin-left: 3%;
}
*/

/**********************************
  Cores
**********************************/

:root {
  --azulODS6: #2aaee2;
  --primary: #2aaee2;
  --blue: #2aaee2;
  --cinzaODS6: #969586;
  --verdeODS6: #4ca1469c;
  --tamanhoSidebar: 270px;
  --marginSidebar: -270px;
}

/**********************************
  Geral
**********************************/

.content-wrapper>.content {
  padding: 0 3rem;
}

a {
  color: var(--azulODS6);
}

a:hover {
  color: var(--verdeODS6);
  text-decoration: none;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}


.tab-content hr {
  border-top: 2px solid black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content-wrapper {
  background-color: white;
  padding-top: 30px;
}

.navbar-light {
  background-color: white;
}

.fs-1_5em {
  font-size: 1.5em;
}

.fs-2em {
  font-size: 2em;
}

/**********************************
  Navbar
**********************************/

.navbar-light {
    background-color: #2aaee20f;
}

.app-title {
  text-align: center; 
  width: 100%;
  color: var(--azulODS6);
}

.title-sec-color {
  color: black;
}

/**********************************
  Sidebar
**********************************/

.main-sidebar {
  width: var(--tamanhoSidebar);
}

.sidebar-collapse .main-sidebar {
  margin-left: var(--marginSidebar);
}

@media (min-width: 576px) {
  .content-wrapper, .main-footer, .main-header {
    margin-left: var(--tamanhoSidebar);
  }
}

aside {
  background: linear-gradient(180deg, var(--azulODS6) 68%, rgba(76, 161, 70, 0.608281) 100%)
}

.sidebar {
  padding-top: 20px;
}

.logo-agua {
  width: 30%;
  position: absolute;
  bottom: 10px;
  left: 85px;
}

.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
  background-color: white; 
}

.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
  color: var(--azulODS6);
}

.sidebar-light-primary .nav-treeview>.nav-item>.nav-link.active {
  color: var(--azulODS6);
}

.sidebar-light-primary .nav-sidebar>.nav-item.menu-open>.nav-link {
  color: var(--azulODS6);
}

.sidebar-light-primary .nav-treeview>.nav-item>.nav-link {
  color: white;
}

.sidebar-light-primary .sidebar a {
  color: white;
}

.sidebar-light-primary .nav-treeview>.nav-item>.nav-link.active:hover {
  color: var(--azulODS6);
}

.nav-pills .nav-link:not(.active):hover {
  color: var(--azulODS6);
}

.sidebar-light-primary .nav-sidebar>.nav-item:hover>.nav-link {
  color: var(--azulODS6);
}

.nav-item:hover {
  color: var(--azulODS6);
}

/**********************************
  Value boxes
**********************************/

.inner {
  font-size: 1.1em;
}

.small-box p {
  font-size: 1.4em;
}

.small-box-footer {
  font-size: 0.8em;
}

.bg-primary {
  background-color: var(--azulODS6)!important;
}

/**********************************
  Footer
**********************************/

.main-footer a {
  color: #262829;
  font-size: 0.9em;
}

/**********************************
  Sobre
**********************************/

.sobre .card-title {
  font-size: 1.6rem;
}

.sobre .card-header {
  background: var(--azulODS6);
  color: white;
}

.sobre .nav-pills .nav-link.active {
  color: var(--azulODS6);
  background-color: white;
}

.sobre .nav-pills .nav-link {
  color: white;
}

.sobre .nav-pills .nav-link:not(.active):hover {
  color: #d6d6cc;
}

.sobre code {
  color: orange;
}

/**********************************
  valueDiv
**********************************/

.valeuDiv span {
  font-size: 20px;
}

.valueDiv {
  margin-bottom: 20px;
  color: black;
}

.valueDiv hr {
  margin-top: 2px;
  margin-bottom: 0;
  width: 90%;
  border-top: 1px solid black;
}

.valueDiv > .about-icon {
  font-size: 0.8em;
  margin-left: 5px;
}

.valueDiv-icon {
  color: var(--azulODS6);
  font-size: 3em;
}

.valueDiv-value {
  font-size: 2.6em;
  margin-left: 10px;
}


.valueDiv-value, .valueDiv-value > div {
  display: inline;
}

/* populacao */

.populacao .valueDiv-icon {
  color: orange;
}

/**********************************
  Seletor de município
**********************************/

.seletor-munip {
  border-bottom: 1px solid black;
}

.seletor-munip  label {
  padding-left: 5px;
  margin-bottom: 0;
  display: block;
}

.seletor-munip select {
  background-color: transparent;
  border: 2px solid black;
  font-size: 3em;
  color: black;
  padding: 10px 12px;
}

.seletor-munip .selectize-input {
  background-color: transparent;
  border: 2px solid black;
  font-size: 2.5em;
  color: black;
  padding: 10px 12px;
}

.seletor-munip input {
  position: static !important;
}

.tag-turistico {
  padding: 5px;
  border-radius: 10px;
  width: 160px;
  display: block;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  background-color: var(--verdeODS6);
}

.seletor-munip hr {
  width: 80%;
  border-top: 2px solid rgba(0,0,0,.1);
}

@media (max-width: 575px) {
  .seletor-munip .selectize-input {
    font-size: 1.5em;
  }
  
  .seletor-munip .item {
    height: 40px;
  }
  
  .tag-turistico {
    padding: 3px;
    border-radius: 10px;
    width: 120px;
    font-size: 0.8em;
  }
}

/**********************************
  Indicadores ODS6
**********************************/

.card-indicadores .card {
  color: white;
  background-color: var(--azulODS6);
}

.card-indicadores .card-title {
  font-size: 1.9rem;
}

.card-indicadores .nav-pills .nav-link.active {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  background-color: var(--azulODS6);
  border: 0;
  border-radius: 0;
  font-size: 2em;
}

.card-indicadores .card-default .nav-item:first-child .nav-link.active {
  border: 0;
}

.card-indicadores .nav-pills {
  background-color: var(--azulODS6);
}

.card-indicadores .nav-pills .nav-link {
  color: #fff;
}

.card-indicadores .nav-pills .nav-link:not(.active) {
  padding-top: 22px;
}

.card-indicadores .nav-pills .nav-link:not(.active):hover {
  text-decoration: underline;
  color: white;
}

.card-indicadores .card-header {
  border-bottom: 1px solid white;
}

.card-indicadores .p-2 {
  padding: 0 !important;
}

.munip-ind-ods6 .meta-origem {
  display: block;
  font-weight: bold;
}

.indicadorODS .shiny-html-output {
  display: block;
  margin: auto;
  width: 90%;
}

.meta-ind {
  border: 1px solid white;
  box-shadow: 0px 0px 4px 2px white;
  padding: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.meta-ind h4 {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
}

.meta-ind {
  text-align: center;
}

.meta-ind-valor {
  font-size: 3em;
  margin-bottom: 0;
}

.meta-ind-unidade {
  font-size: 1.2em;
}

.munip-ind-ods6 hr {
  width: 90%;
  border-top: 2px dashed white;
}

.munip-ind-ods6 .meta-ind-serie {
  margin-top: 30px;
}

.munip-outros-ind .desc {
  margin-top: 20px;
}


.munip-abast-outros-ind .hc-outros-ind {
  margin-top: 20px;
}










